<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.androidpn.demoapp"
	android:versionCode="20101028"
	android:versionName="0.5.0">
	<application android:icon="@drawable/icon"
		android:name="org.litepal.LitePalApplication"
		android:label="@string/app_name">
		<activity android:name=".DemoAppActivity" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".NotificationHistoryActivity"
			android:label="Notification History">
		</activity>
		<activity android:name=".NotificationDetailsActivity"
			android:label="Notification Details">
		</activity>
		<activity android:name=".NotificationSettingsActivity"
			android:label="Notification Settings">
		</activity>
		<service android:enabled="true"
			android:name="org.androidpn.client.NotificationService"
			android:label="NotificationService">
			<intent-filter>
				<action android:name="org.androidpn.client.NotificationService" />
			</intent-filter>
		</service>

		<receiver android:name="org.androidpn.client.BootCompletedReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
		<receiver android:name="org.androidpn.client.ShowNotificationReceiver">
			<intent-filter>
				<action android:name="org.androidpn.client.SHOW_NOTIFICATION" />
			</intent-filter>
		</receiver>

		<receiver android:name="org.androidpn.client.NotificationReceiver">
			<intent-filter>
				<action android:name="org.androidpn.client.NOTIFICATION_CLICKED" />
				<action android:name="org.androidpn.client.NOTIFICATION_CLEARED" />
			</intent-filter>
		</receiver>
		<!--
			<meta-data android:name="ANDROIDPN_API_KEY"
			android:value="1234567890" />
		-->
	</application>
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
</manifest> 